<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Tabela de Visitante</h4>
        </div>
        <form>
          <div class="input-group no-border">
            <input type="text" value="" class="form-control" placeholder="Buscar...">
            <div class="input-group-append">
              <div class="input-group-text">
                <i class="now-ui-icons ui-1_zoom-bold"></i>
              </div>
            </div>
          </div>
        </form>
        <button mat-button color="red" class="floating-button" (click)="createClick()">
          <mat-icon class="mat-24">add</mat-icon> Adicionar
        </button>
        <div class="card-body">
          <div class="table-responsive">
            <table mat-table [dataSource]="data" class="mat-elevation-z8">


              <ng-container matColumnDef="pessoa.nome">
                <th mat-header-cell *matHeaderCellDef class="flex-item" fxflex="300px"> Nome </th>
                <td mat-cell *matCellDef="let row"> {{row.pessoa.nome}} </td>
              </ng-container>
              <ng-container matColumnDef="pessoa.cpf">
                <th mat-header-cell *matHeaderCellDef> CPF </th>
                <td mat-cell *matCellDef="let row"> {{row.pessoa.cpf}} </td>
              </ng-container>
              <ng-container matColumnDef="pessoa.email">
                <th mat-header-cell *matHeaderCellDef> E-Mail </th>
                <td mat-cell *matCellDef="let row"> {{row.pessoa.email}} </td>
              </ng-container>
              <ng-container matColumnDef="docIdentidade">
                <th mat-header-cell *matHeaderCellDef> Número do Cartão </th>
                <td mat-cell *matCellDef="let row"> {{row.docIdentidade}} </td>
              </ng-container>
              <ng-container matColumnDef="visitaData">
                <th mat-header-cell *matHeaderCellDef> Data Da Visita </th>
                <td mat-cell *matCellDef="let row"> {{row.visitaData | date: 'dd/MM/yyyy'}} </td>
              </ng-container>

              <ng-container matColumnDef="del">
                <th mat-header-cell *matHeaderCellDef fxFlex="68px" fxFlex.lt-md="58px" fxHide.lt-md></th>
                <td mat-cell *matCellDef="let row" class="flex-item" fxFlex="68px" fxFlex.lt-md="58px" fxHide.lt-md>
                  <button mat-button (click)="deleteClick(row)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>
              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef fxFlex="68px" fxFlex.lt-md="58px" fxHide.lt-md="true"></th>
                <td mat-cell *matCellDef="let row" class="flex-item" fxFlex="68px" fxFlex.lt-md="58px" fxHide.lt-md>
                  <button mat-button align="rigth" (click)="editClick(row)">
                    <mat-icon>edit</mat-icon>
                  </button>
                </td>
              </ng-container>



              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
