<div class="modal">
  <form [formGroup]="form">
    <div class="modal-header">
      <mat-toolbar color="warn">
        <mat-toolbar-row>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex="50px" fxFlexAlign="center">
              <button mat-icon-button (click)="closeDialog(false);" type="button" tabindex="-1">
                <mat-icon>arrow_back</mat-icon>
              </button>
            </div>
            <div fxFlex fxFlexAlign="center" fxFlexOffset.gt-sm="10px">
              {{ title }}
            </div>
            <div fxFlex="50px" fxFlexAlign="center">
              <button mat-icon-button (click)="saveClick();" tabindex="-1">
                <mat-icon>save</mat-icon>
              </button>
            </div>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>

    <mat-dialog-content class="modal-mobile-content form-theme">
     
      <div fxLayout="row">
        <div fxFlex>
          <mat-form-field>
            <input matInput autocomplete="none" placeholder="Valor da Mensalidade" formControlName="valorMensalidade" />
            <mat-error *ngIf="form.controls['valorMensalidade'].hasError('required')">
              Campo obrigat&oacute;rio.
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex>
          <mat-form-field>
            <mat-select placeholder="Forma de Pagamento" formControlName="formaPagamentoId"
                        required>
              <mat-option value=1>2019</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['formaPagamentoId'].hasError('required')">
              Campo obrigat&oacute;rio.
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex>
          <mat-form-field>
            <mat-select placeholder="Mes" formControlName="mesId"
                        required>
              <mat-option value=1>Janeiro</mat-option>
              <mat-option value=2>Fevereiro</mat-option>
              <mat-option value=3>Março</mat-option>
              <mat-option value=4>Abril</mat-option>
              <mat-option value=5>Maio</mat-option>
              <mat-option value=6>Junho</mat-option>
              <mat-option value=7>Julho</mat-option>
              <mat-option value=8>Agosto</mat-option>
              <mat-option value=9>Setembro</mat-option>
              <mat-option value=10>Outubro</mat-option>
              <mat-option value=11>Novembro</mat-option>
              <mat-option value=12>Dezembro</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['mesId'].hasError('required')">
              Campo obrigat&oacute;rio.
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex>
          <mat-form-field>
            <mat-select placeholder="Ano" formControlName="anoId"
                        required>
              <mat-option value=1>2019</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['anoId'].hasError('required')">
              Campo obrigat&oacute;rio.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-dialog-content>
    <mat-dialog-actions class="modal-footer" *ngIf="false">
      <button mat-button color="primary" (click)="saveClick()">Salvar</button>
      <button mat-button (click)="closeDialog()" type="button">Cancelar</button>
    </mat-dialog-actions>
  </form>
</div>
