<div class="modal">
  <form [formGroup]="form">
    <div class="modal-header">
      <mat-toolbar color="warn">
        <mat-toolbar-row>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex="50px" fxFlexAlign="center">
              <button mat-icon-button (click)="closeDialog(false);" type="button" tabindex="-1">
                <mat-icon>arrow_back</mat-icon>
              </button>
            </div>
            <div fxFlex fxFlexAlign="center" fxFlexOffset.gt-sm="10px">
              {{ title }}
            </div>
            <div fxFlex="50px" fxFlexAlign="center">
              <button mat-icon-button (click)="saveClick();" tabindex="-1">
                <mat-icon>save</mat-icon>
              </button>
            </div>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>

    <mat-dialog-content class="modal-mobile-content form-theme">
     
      <div fxLayout="row">
        <div fxFlex>
          <mat-form-field>
            <mat-select placeholder="Colaborador" formControlName="colaboradorId">
              <mat-option *ngFor="let item of colaboradores;" [value]="item.colaboradorId">{{item.colaboradorId}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex>
          <mat-form-field>
            <mat-select placeholder="Plano" formControlName="planoId"
                        (selectionChange)="planoSelected()">
              <mat-option *ngFor="let item of planos;" [value]="item.planoId">{{item.descricao}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['planoId'].hasError('required')">
              Campo obrigat&oacute;rio.
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex>
          <mat-form-field>
            <input matInput autocomplete="none" placeholder="Valor da Mensalidade" formControlName="valorMensalidade" />
            <mat-error *ngIf="form.controls['valorMensalidade'].hasError('required')">
              Campo obrigat&oacute;rio.
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex>
          <mat-form-field>
            <mat-select placeholder="Forma de Pagamento" formControlName="formaPagamentoId">
              <mat-option *ngFor="let item of formaPagamentos;" [value]="item.formaPagamentoId">{{item.descricao}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['formaPagamentoId'].hasError('required')">
              Campo obrigat&oacute;rio.
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex>
          <mat-form-field>
            <mat-select placeholder="Mes do Pagamento" formControlName="mesId">
              <mat-option *ngFor="let item of meses;" [value]="item.mesId">{{item.descricao}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['mesId'].hasError('required')">
              Campo obrigat&oacute;rio.
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex>
          <mat-form-field>
            <mat-select placeholder="Ano do Pagamento" formControlName="anoId">
              <mat-option *ngFor="let item of anos;" [value]="item.anoId">{{item.descricao}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['anoId'].hasError('required')">
              Campo obrigat&oacute;rio.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-dialog-content>
    <mat-dialog-actions class="modal-footer" *ngIf="false">
      <button mat-button color="primary" (click)="saveClick()">Salvar</button>
      <button mat-button (click)="closeDialog()" type="button">Cancelar</button>
    </mat-dialog-actions>
  </form>
</div>
