<div class="panel-header panel-header-sm">
</div>
<div class="container-body">
  <div class="data-table mat-elevation-z8">

    <div class="form-theme filter">
      <div fxLayout="row" fxLayoutAlign="start">
        <div fxFlex>
          <form [formGroup]="form" class="form-theme">
            <div fxLayout="row" fxLayoutAlign="end">
              <div fxFlex="180px" fxFlex.lt-sm="150px" fxFlexAlign="center">
                <mat-form-field>
                  <input matInput autocomplete="off" placeholder="Nome" formControlName="nome"
                         maxlength="256" />
                </mat-form-field>
              </div>
              <div fxFlex="180px" fxFlex.lt-sm="100px" fxFlexAlign="center">
                <mat-form-field>
                  <input matInput autocomplete="off" placeholder="Cpf" formControlName="cpf"
                         maxlength="11" />
                </mat-form-field>
              </div>
              <div fxFlex="24px" fxFlexAlign="end">
                <div class="datepicker-toggle-wrapper">
                  <button mat-icon-button type="submit" (click)="loadData()">
                    <mat-icon>search</mat-icon>
                  </button>
                </div>
              </div>
              <div fxFlex="24px" fxFlexAlign="end">
                <div class="datepicker-toggle-wrapper">
                  <button mat-icon-button type="button" (click)="clearForm()" matTooltip="Remover filtro" matTooltipPosition="left">
                    <mat-icon>clear</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="flex-container" [class.hide]="noDataFound === true || !data">

      <table mat-table [dataSource]="data" matSort matSortActive="pessoa.nome" matSortDisableClear matSortDirection="desc">
        <ng-container matColumnDef="pessoa.nome">
          <th mat-header-cell *matHeaderCellDef class="flex-item" fxFlex>Nome</th>
          <td mat-cell *matCellDef="let row" class="flex-item" fxFlex>
            {{row.pessoa.nome}}
          </td>
        </ng-container>
        <ng-container matColumnDef="pessoa.cpf">
          <th mat-header-cell *matHeaderCellDef r class="flex-item" fxFlex="150px" fxFlex.lt-xl="150px" fxHide.lt-sm>Cpf</th>
          <td mat-cell *matCellDef="let row" class="flex-item" fxFlex="150px" fxFlex.lt-xl="150px" fxHide.lt-sm>
            {{row.pessoa.cpf}}
          </td>
        </ng-container>
        <ng-container matColumnDef="pessoa.email">
          <th mat-header-cell *matHeaderCellDef class="flex-item" fxFlex fxFlex.lt-xl fxHide.lt-lg>Email</th>
          <td mat-cell *matCellDef="let row" class="flex-item" fxFlex fxFlex.lt-xl fxHide.lt-lg>
            {{row.pessoa.email}}
          </td>
        </ng-container>
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef fxFlex="68px" fxFlex.lt-md="58px" fxHide.lt-md></th>
          <td mat-cell *matCellDef="let row" class="flex-item" fxFlex="68px" fxFlex.lt-md="58px" fxHide.lt-md>
            <button (click)="editClick(row)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="del">
          <th mat-header-cell *matHeaderCellDef fxFlex="68px" fxFlex.lt-lg="40px" fxHide.lt-lg></th>
          <td mat-cell *matCellDef="let row" class="flex-item" fxFlex="68px" fxFlex.lt-lg="40px">
            <button (click)="deleteClick(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns" fxLayout="row"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" fxLayout="row"></tr>
      </table>

      <div fxLayout="row" fxLayoutAlign="end">
        <div fxFlex>
          <mat-paginator [length]="length"
                         [pageSizeOptions]="[10, 20, 50, 100]"
                         itemsPerPageLabel="Itens por p\xE1gina">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>

  <div class="center-align no-data-found" *ngIf="noDataFound && data">
    Nenhum registro encontrado.
  </div>


  <div class="fixed-action-btn">
    <button mat-fab disableRipple="false" color="warn" class="floating-button" (click)="createClick()"
            matTooltip="Adicionar Colaborador"
            matTooltipPosition="left"
            tabindex="-1">
      <mat-icon class="mat-24">add</mat-icon>
    </button>
  </div>
</div>
