
  <div class="dialog" fxLayout="column" fxFlexFill>
    <div style="display: block;
    color: crimson;
    line-height: 1.2;
    text-align: center;">
      <h4>Login</h4>
    </div>
      <div fxFlex="100%" style="margin-top:20px;">
        <form [formGroup]="form">
          <div class="dialog-content">

            <div fxLayout="row">
              <div fxFlex>
                <mat-form-field>
                  <input matInput placeholder="Login" formControlName="userName" required>
                  <mat-error *ngIf="form.controls['userName'].hasError('required')">
                    Campo Obrigatório
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row">
              <div fxFlex>
                <mat-form-field>
                  <input type="password" matInput placeholder="Senha" formControlName="password" required>
                  <mat-error *ngIf="form.controls['password'].hasError('required')">
                    Campo Obrigatório
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" class="center-align">
              <div fxFlex="100%">
                <span class="center-align red-text">{{ invalidLogin }}</span>
              </div>
            </div>
          </div>
          <div style="margin-top:20px">
            <div fxLayout="row" fxLayoutAlign="end center">
              <div fxFlex="60px">
                <button mat-raised-button type="submit" class="btn" (click)="login()" color="warn">Logar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
