.alert-modal {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.modal-header {
  padding: 24px 24px 15px 24px;
}

.modal-content {
  position: absolute;
  height: calc(100% - 56px - 64px);
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  margin: 0 !important;
  padding: 24px !important;
}

.modal-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 56px;
  padding: 4px 6px !important;
  margin: 0 !important;
  flex-direction: row-reverse;
}
