<div class="modal">
  <form [formGroup]="form">
    <div>
      <mat-toolbar color="warn">
        <mat-toolbar-row>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex="115px" fxFlexAlign="center">
              <button mat-icon-button (click)="closeDialog(false);" type="button" matTooltip="Fechar" matTooltipPosition="left" tabindex="-1">
                <mat-icon>arrow_back</mat-icon>
              </button>
            </div>
            <div fxFlex fxFlexAlign="center" fxFlexOffset.gt-sm="10px">
              {{ title }}
            </div>
            <div fxFlex="50px" fxFlexAlign="center">
              <button mat-icon-button id="saveButton" (click)="saveClick();" matTooltip="Salvar" matTooltipPosition="left" tabindex="-1">
                <mat-icon>save</mat-icon>
              </button>
            </div>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>

    <div mat-dialog-content>

      <div fxLayout="row">
        <div fxFlex>
          <mat-form-field>
            <input matInput placeholder="Nome Completo" formControlName="nome"
                   
                   required>
            <mat-error *ngIf="form.controls['nome'].hasError('required')">
              Campo obrigat&oacute;rio.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row">
        <div fxFlex>
          <mat-form-field>
            <input matInput placeholder="email" formControlName="email"
                   required>
            <mat-error *ngIf="form.controls['email'].hasError('required')">
              Campo obrigat&oacute;rio.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row">
        <div fxFlex="100px">
          <mat-form-field>
            <input matInput placeholder="Cpf" formControlName="cpf"
                   maxlength="11"
                   required>
            <mat-error *ngIf="form.controls['cpf'].hasError('required')">
              Campo obrigat&oacute;rio.
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex>
          <mat-form-field>
            <input matInput autocomplete="off" placeholder="Data de Nascimento" formControlName="dataNascimento"
                   [matDatepicker]="dataNascimento"
                   (focus)="dataNascimento.open()"
                   required />
            <mat-datepicker #dataNascimento></mat-datepicker>
            <mat-error *ngIf="form.controls['dataNascimento'].hasError('required')">
              Campo obrigat&oacute;rio.
            </mat-error>
            <mat-datepicker-toggle class="datepicker-toggle-wrapper" fxFlex="30px" fxFlexAlign="center" matSuffix [for]="dataNascimento"></mat-datepicker-toggle>
          </mat-form-field>
        </div>
        <div fxFlex="140px">
          <mat-form-field>
            <input matInput placeholder="Número do Cartão" formControlName="numeroCartao"
                   maxlength="16"
                   required>
            <mat-error *ngIf="form.controls['numeroCartao'].hasError('required')">
              Campo obrigat&oacute;rio.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row">
        <div fxFlex>
          <mat-form-field>
            <input matInput placeholder="telefone Celular" formControlName="telefoneCelular"
                   maxlength="11"
                   required>
            <mat-error *ngIf="form.controls['telefoneCelular'].hasError('required')">
              Campo obrigat&oacute;rio.
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex>
          <mat-form-field>
            <input matInput placeholder="telefone Casa" formControlName="telefoneCasa"
                   required
                   maxlength="11">
            <mat-error *ngIf="form.controls['telefoneCasa'].hasError('required')">
              Campo obrigat&oacute;rio.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row">
        <div fxFlex>
          <mat-form-field>
            <input matInput placeholder="Numero Whatsapp" formControlName="numeroWhatsapp"
                   required
                   maxlength="11">
            <mat-error *ngIf="form.controls['numeroWhatsapp'].hasError('required')">
              Campo obrigat&oacute;rio.
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex>
          <mat-form-field>
            <mat-select placeholder="Situacao da Matricula" formControlName="situacaoMatriculaId">
              <mat-option *ngFor="let item of situacaoMatriculas;" [value]="item.situacaoMatriculaId">{{item.descricao}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['situacaoMatriculaId'].hasError('required')">
              Campo obrigat&oacute;rio.
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="95px">
          <mat-form-field>
            <mat-select placeholder="Sexo" formControlName="sexoId">
              <mat-option *ngFor="let item of sexos;" [value]="item.sexoId">{{item.descricao}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['sexoId'].hasError('required')">
              Campo obrigat&oacute;rio.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row">
        <div fxFlex="30%">
          <mat-form-field>
            <mat-select placeholder="Estado" formControlName="stateId"
                        (selectionChange)="stateSelected()">
              <mat-option *ngFor="let item of states;" [value]="item.stateId">{{item.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex>
          <app-auto-complete [serviceUrl]="autoCompleteUrl"
                             [(keyword)]="keyword"
                             placeHolder="Cidade"
                             [minChars]="3"
                             displayPropertyName="name"
                             (valueSelected)="citySelected($event)"
                             [required]="false"
                             [noBorder]="true">
          </app-auto-complete>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex>
          <mat-form-field>
            <input matInput placeholder="Endereço" formControlName="endereco"
                   maxlength="50"
                   required>
            <mat-error *ngIf="form.controls['endereco'].hasError('required')">
              Campo obrigat&oacute;rio.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row">
        <div fxFlex>
          <mat-slide-toggle class="slide-toggle" formControlName="ativo" labelPosition="before">
            Ativar Matrícula
          </mat-slide-toggle>
        </div>
      </div>

    </div>
</form>
</div>
