table {
  width: 100%;
  
}

  table .mat-button {
    float: right;
    margin-right: 20px;
  }
  .button {
  color:crimson;
  float:right;
  margin-top: 20px;
  margin-right: 20px;
  }

.fixed-action-btn {
  position: fixed;
  right: 36px;
  bottom: 24px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 502;
}

.flex-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 24px;
  height: 100%;
  }


 

